body{
    margin: 0px;
    font-family: poppins;
}
.header{
    display:flex ;
    background-color: rgb(216, 3, 78);
    height: 70px;
    position:fixed;
    top: 0;
    z-index: 1000;
}
.dot{
    color: black;
}
.title{
    margin: 0px;
    color: black;
    padding-left: 56px;
    padding-top: 20px;
}
.navbar{
    padding-left: 304px;
    padding-top: 10px;
}
.action{
    color: white;
}
.drop{
    position: absolute;
    text-decoration: none;
    left: 470px;
    top: 65px;
    background-color: black;
    color: palevioletred;
    padding: 24px;
    border: solid 2px;
    border-radius: 30px;
    list-style: none;
    display: none;
}
.ser:hover .drop{
    display: block;
}
.nav{
    display: inline;
    padding: 5px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    
}
.nav:hover{
    color: white;

}
.navbtn{
    padding-top: 18px;
    margin-left: 209px;
    margin-right: 27px;
}
.btn{
    height: 37px;
    width: 106px;
    font-size: 17px;
    font-family: sans-serif;
    background-color: rgb(190, 156, 206);
    color: rgb(12, 12, 12);
    border-radius: 10px;
}
.btn:hover{
    background-color: rgb(87, 83, 100);
    color: white;
    cursor: pointer;
    
}
.banner{
    background-image: url(images.jpg);
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.services{
    display: flex;
    padding: 37px;
}
.head{
    color: white;
    text-align: center;
    margin-top: 88px;
}
.para{
    position: absolute;
    top: 128px;
    color: white;
    left: 261px;
}
.box{
    height: 220px;
    flex: 1;
    border-radius: 25px;
}
.box1{
    background-color: rgb(250, 249, 249);
}
.boxc{
    color: palevioletred;
    font-size: 40px;
}
.box2{
    background-color: white;
}
.box3{
    background-color: white;
}
.boxb{
    background-color: rgb(8, 8, 8);
    color: white;
    height: 450px;
    text-align: center;
    flex: 1.5;
}
.boxs{
    height:350px ;
    margin-top: 40px;
    margin-left: 10px;
    text-align: center;
    transition: 2s;
    transition-property: all;
}

.boxs:hover{
    cursor: pointer;
    color:palevioletred ;
    background-color: black;
    border: 2px solid palevioletred;
    height: 370px;
    flex: 1.1;
}
.content{
    font-size: x-large;
}
.fa-brands{
    color: palevioletred;
    font-size: 31px;
    margin-top: 11px;
}
.boxs:hover .fa-brands{
    color:white;
}
.last{
    background-color: rgb(157, 174, 250);
    display: flex;
    height: 400px;
    padding: 85px;
}
.h{
    margin-top: 42px;
}
.b{
    height: 164px;
    flex: 1;
    margin: 28px;
    border: rgb(11, 8, 8) 2px solid;
    border-radius: 30px;
    text-align: center;
}
.b:hover{
    border: palevioletred 2px solid;
    background-color:black;
    color: palevioletred;
}
.b1{
    background-color: blueviolet;
    
}
.b2{
    background-color: violet;
}
.b3{
    background-color: tomato;
}
.b4{
    background-color: bisque;
}
.round{
    background-color: black;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    position: absolute;
    top: 1079px;
}
.rb1{
    left: 200px;
}
.rb2{
    left: 487px;
}
.rb3{
    left: 782px;
}
.rb4{
    left: 1080px;
}
.fa-solid {
    color: white;
    font-size: 30px;
    position: absolute;
    left: 20px;
    top: 15px;
}
.intitle{
    text-align: center;

}
.inform{
    margin-top: 32px;
    margin-left: 103px;
}
.infield{
    height: 47px;
    width: 350px;
    margin-left: 12px;
    outline: 0;
    border-radius: 9px;
    padding: 6px;
}
.sec{
    height: 63px;
    width: 367px;
    border-style: double;
    padding: 6px;
}
.intext{
    margin-left: 12px;
    height: 165px;
    width: 1112px;
    padding: 9px;
    border-radius: 9p
}
.inbtn{
    margin-top: 51px;
    margin-left: 460px;
    text-align: center;
    height: 51px;
    width: 154px;
    font-size: medium;
    border-radius: 11px;
    cursor: pointer;
    background-color: black;
    color: palevioletred;
    border: palevioletred;
    border: 2px solid;
}
.row1{
    margin-top: 15px;
}
.row2{
    margin-top: 15px;
}
.row3{
    margin-top: 15px;
}
